body {
	background: #000;
	font-size: 14px;
	font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
	line-height: 1.5;
	color: #fff;
	text-align: center;
	margin: 0;
	user-select: none;
	font-weight: 400;
}
.content-wrapper {
	h1 {
		font-size: 24px;
	}
	.svg-container {
		svg {
			position: absolute;
			display: block;
			margin: 0 auto;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			#line-path {
			  cursor: pointer;
			  -webkit-filter: drop-shadow(5px 5px 5px #222);
			  filter: drop-shadow(5px 5px 5px #222);
			}
		}
	}
}